{#Hereda el diseño de la plantilla madre, que es homepage.html.twig y sustituye el contenido distinto#}
{% extends 'libreria/homepage.html.twig' %}

{#Cambia el título de la página por un parámetro que envie la app#}
{% block title %}
    {{title}}
{% endblock %}


{# Esto se utilizaría para añadir otros estilos dentro de una plantilla hija #}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{# Este bloque permitiría añadir alguna otra fuente de JS dentro de una plantilla hija#}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{#Bloque contenido, lo que está dentro de {% block contenido %} va a ser sustituido dentr de las plantillas hijas.#}
{% block contenido %}
<div class="row d-flex flex-column justify-content-center align-items-center bg-light text text-left pt-3 pb-3">
{% for key, value in animales %}
    <div id="receta1" class="d-flex flex-column justify-content-center bg-light text text-left w-75">
    <h4>Nombre: </h3>{{ value.name }} <br>
    <h4>Especie: </h3>{{ value.species }}
    </div><br><br>
{% endfor %}
</div>
{% endblock %}